<div class="pt-8 text-base text-center">
<p class="text-gray-700">&copy; <span id="currentYear"></span> Hat Stack</p>
<p>
</p>
</div>
<script type="text/javascript">
const currentYearSpan = document.getElementById('currentYear');
const date = new Date();
currentYearSpan.textContent = date.getFullYear();
</script>