<header class="fixed top-0 w-full">
    <div class="flex items-center h-6 max-w-screen-lg py-8 mx-auto bg-white">
        <div class="flex justify-between w-full">
            <a href="/" class="flex space-x-3 font-semibold">
                <svg width="55" height="25" viewBox="0 0 55 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m42.753 0 12.112 12.06-12.112 12.058L30.641 12.06 42.753 0Z" fill="#77C1D2"/><path fill-rule="evenodd" clip-rule="evenodd" d="m12.473 0 25.11 25H13.358L.36 12.06 12.473 0Z" fill="#2D3441"/></svg>
                <span>Hat Stack</span>
            </a>
            <nav>
                <ul class="inline-flex space-x-5">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>